.social {
  padding-top: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 26px;
  align-items: center;
  
  @media (min-width: $medium-breakpoint) {
    padding-top: 20px;
    width: calc(100% - 21px);
  }
  
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid rgba(240, 241, 242, .15);
  }
  
  &__link {
    display: block;
  }
  
  &__icon {
    display: block;
    
    &:hover {
      svg .cls-1 {
        opacity: 1;
      }
    }
    
    svg {
      width: 100%;
      height: 100%;
    }
    
    & svg .cls-1 {
      opacity: .7;
      transition: opacity .2s ease;
    }
    
    & svg .cls-2 {
      fill: $colder;
    }
    
    &--vk {
      height: 17px;
      width: 31px;
    }
    
    &--ok {
      height: 26px;
      width: 15px;
    }
    
    &--insta {
      height: 22px;
      width: 22px;
    }
    
    &--fb {
      height: 25px;
      width: 12px;
    }
    
    &--tw {
      height: 22px;
      width: 26px;
    }
    
  }
  
}