.blog-hero {
  height: 460px;
  background-size: cover;
  position: relative;

  @media (min-width: $medium-breakpoint) {
    height: 560px;
  }

  @media (min-width: $large-breakpoint) {
    height: 670px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
  }

  &__inner {
    @mixin container;

    padding-top: 235px;
    position: relative;

    @media (min-width: $medium-breakpoint) {
      padding-top: 204px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 250px;
    }
  }

  &__container {
    position: relative;
  }

  &__name {
    font-family: $ptsans;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 1rem;
  }

  &__data {
    position: absolute;
    right: 1rem;
    top: 231px;
    font-family: $ptsans;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.65px;
    color: #6b7277;
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 5px 8px;
    z-index: 1;

    @media (min-width: $medium-breakpoint) {
      font-size: 16px;
      letter-spacing: 0.8px;
      padding: 6px 13px;
      top: auto;
      bottom: -66px;
      left: 2.5rem;
      right: auto;
    }

    @media (min-width: $large-breakpoint) {
      left: 3.5rem;
      font-size: 19px;
      padding: 7px 16px;
      bottom: -68px;
      letter-spacing: 0.95px;
    }
  }

  &__caption {
    margin-top: 1rem;
    font-family: $ptsans-caption;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;

    @media (min-width: $medium-breakpoint) {
      font-size: 45px;
      line-height: 49.5px;
      margin-top: 30px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 54px;
      line-height: 59.5px;
      margin-top: 36px;
    }
  }

  &__description {
    font-family: $ptserif;
    position: relative;
    z-index: 1;
    color: $colder;
    margin-top: 12px;
    font-size: 13px;
    line-height: 17px;

    &.hide-for-small {
      display: none;
    }

    @media (min-width: $medium-breakpoint) {
      font-size: 20px;
      line-height: 34px;
      margin-top: 20px;

      &.hide-for-small {
        display: block;
      }
    }

    @media (min-width: $large-breakpoint) {
      font-size: 24px;
      line-height: 36px;
      margin-top: 23px;
    }
  }

  &__link {
    position: relative;
    z-index: 2;
    margin-top: 24px;

    @media (min-width: $medium-breakpoint) {
      margin-top: 40px;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 48px;
    }
  }
}
