.input-block {
  position: relative;
  
  &--icon {
    
    &:after {
      content: '\20BD';
      position: absolute;
      font-family: $ptsans;
      font-weight: bold;
      color: #485155;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 16px;
      right: 15px;
      top: 7px;
      
      @media (min-width: $medium-breakpoint) {        
        font-size: .8rem;
        line-height: 17px; 
        top: 12px;
        right: 25px;
      }
      
      @media (min-width: $large-breakpoint) {
        right: 30px;
        top: 14px;
      }
    }
    
    .input-block__input {
      font-weight: bold;
      letter-spacing: 2.2px;
      text-transform: uppercase;
      font-size: 22px;
      color: #969BA0;
      
      @media (min-width: $medium-breakpoint) {
        font-size: 28px;
        height: 40px;
      }
      
      @media (min-width: $large-breakpoint) {
        font-size: 34px;
        height: 48px;
      }
      
    }
    
  }
  
  &--count {
    width: 130px;
    
    @media (min-width: $medium-breakpoint) {
      width: 170px;
    }
    
  }
  
  &--month {
    width: 50px;
    
    @media (min-width: $medium-breakpoint) {
      width: 75px;
    }
    
  }
  
  &--year {
    width: 67px;
    
    @media (min-width: $medium-breakpoint) {
      width: 99px;
    }
    
  }
  
  &--cvv {
    width: 67px;
    
    @media (min-width: $medium-breakpoint) {
      width: 87px;
    }
    
  }
  
  &__input {
    font-family: $ptsans;
    font-size: 1rem;
    line-height: 31px;  
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 19px;    
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: $midnight;
    height: 31px;
    
    
    &::-webkit-input-placeholder {color: #969BA0;}
    &::-moz-placeholder          {color: #969BA0;}
    &:-moz-placeholder           {color: #969BA0;}
    &:-ms-input-placeholder      {color: #969BA0;}
    
    @media (min-width: $medium-breakpoint) {      
      vertical-align: top;      
      padding-left: 25px;
      box-sizing: border-box;
      padding-right: 30px;
      line-height: 40px;
      height: 40px;
    }
    
    @media (min-width: $large-breakpoint) {
      font-size: 34px;
      line-height: 48px;      
      border-radius: 24px;
      padding-left: 30px;
    }
    
    &--uppercase {
      text-transform: uppercase;
    }
    
    &--error {
      color: $scarlet; 
      position: relative;
      -webkit-animation: 0.3s a linear;
      -o-animation: 0.3s a linear;
      -moz-animation: 0.3s a linear;
      -ms-animation: 0.3s b linear;
      
      &::-webkit-input-placeholder {color: $scarlet;}
      &::-moz-placeholder          {color: $scarlet;}
      &:-moz-placeholder           {color: $scarlet;}
      &:-ms-input-placeholder      {color: $scarlet;}
      
    }
    

    
    &--empty {
      background: $scarlet;
      border: 1px solid $midnight;
    }
    
  }
  
}

@keyframes a {
    0%   {transform: translate3d(3px, 0, 0);}
    25%  {transform: translate3d(-3px, 0, 0);}
    50%  {transform: translate3d(3px, 0, 0);}
    75%  {transform: translate3d(-3px, 0, 0);}
    100% {transform: translate3d(0, 0, 0);}
}

@keyframes b {
    0%   {left: 3px;}
    25%  {left: -3px;}
    50%  {left: 3px;}
    75%  {left: -3px;}
    100% {left: 0;}
}