.main-menu {
  float: right;
  display: flex;
  align-items: center;
  height: 30px;
  padding-top: 2px;
  
  @media (min-width: $large-breakpoint) {
    height: 36px;
    width: calc(92% - 60px);
  }
  
  
/*
  &__current-page-list {
    display: none;
    
    @media (min-width: $medium-breakpoint) {
      display: inline-block;
    }
    
  }
  
  &__current-page-item {
    display: inline-block;
    font-family: $ptsans; 
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 0.1em;
    
    @media (min-width: $large-breakpoint) {
      margin-right: 70px;
    }
    
  }
  
  &__current-page-link {
    color: #fff;    
    transition: color .2s ease;
    
    &:hover {
      color: $scarlet;
    }
    
  }
*/
  
  &__list {
    display: none;
    
    @media (min-width: $medium-breakpoint) {
      display: flex;
      height: 100%;
      align-items: center;
    }
    
    @media (min-width: $large-breakpoint) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
  }
  
  &__item {
    
    @media (min-width: $medium-breakpoint) {
      display: inline-block;
      font-family: $ptsans; 
      font-weight: 600;
      font-size: 0.8rem;
      text-transform: uppercase;
      margin-right: 40px;
      letter-spacing: 0.1em;
      
      &:nth-child(2n+1) {
        display: none;
      }
      
    }  
    
    @media (min-width: $large-breakpoint) {
      margin-right: 0;
      
      &:nth-child(2n+1) {
        display: inline-block;
      }
      
    }
    
  }
  
  &__link {
    color: #fff;
    transition: color .2s ease;
    
    &:hover {
      color: $scarlet;
    }
    
  }
  
  &__toggler {
    float: right;
    display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    
    @media (min-width: $large-breakpoint) {
      display: none;
    }
    
  }
  
  &__toggler-text {
    font-family: $ptsans; 
    font-weight: 600;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 1.6px;
    
    &:hover {
      color: $scarlet;
    }
    
  }
  
  &__toggler-icon {
    background-color: $scarlet;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $scarlet;
      border-radius: 2px;
      top: 7px;
    }
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $scarlet;
      border-radius: 2px;
      top: -7px;
    }
    
  }
  
}