.article {
  box-sizing: border-box;
  display: block;
  padding: 32px .5rem;

  @media (min-width: $medium-breakpoint) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $footer-medium-breakpoint) {
    padding-top: 20px;
  }

  @media (min-width: $large-breakpoint) {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  &:first-of-type {
    margin-top: 32px;

    @media (min-width: $medium-breakpoint) {
      margin-top: 40px;
    }

    @media (min-width: $footer-medium-breakpoint) {
      margin-top: 20px;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 0;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $footer-medium-breakpoint) {
      margin-top: 20px;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 0;
    }
  }

  &__content {
    max-width: calc(600px - 1rem);
    margin: 0 auto;
    padding: 0 .5em;
    box-sizing: border-box;
    position: relative;

    @media (min-width: $medium-breakpoint) {
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 1024px;
    }

    @media (min-width: $footer-medium-breakpoint) {
      padding: 0;
      padding-right: calc(25px + .5rem);
      max-width: auto;
    }

    &::before {
      content: '';
      width: calc(100% - 1rem);
      border-top: 1px solid rgba(0, 0, 0, .1);
      left: .5rem;
      top: -32px;
      position: absolute;
      display: block;

      @media (min-width: $medium-breakpoint) {
        width: calc(100% - 4rem);
        left: 2rem;
        top: -40px;
      }

      @media (min-width: $footer-medium-breakpoint) {
        display: none !important;
      }
    }
  }

  &__data {
    font-family: $ptsans;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.65px;
    color: #6b7277;
    padding: 5px 10px;
    background: #f0f1f2;
    border-radius: 3px;
    display: inline;

    @media (min-width: $medium-breakpoint) {
      font-size: 16px;
      letter-spacing: 0.8px;
      padding: 6px 13px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 19px;
      padding: 7px 16px;
      letter-spacing: 0.95px;
    }
  }

  &__cover {
    height: 160px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    border-radius: 3px;
    position: relative;
    margin-top: calc(1rem + 6px);

    @media (min-width: 480px) {
      height: 240px;
    }

    @media (min-width: $medium-breakpoint) {
      height: 260px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .35);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
  }

  &__title {
    font-family: $ptsans;
    font-size: 24px;
    line-height: 24px;
    color: $colder;
    position: absolute;
    bottom: 24px;
    padding: 0 1rem;
    font-weight: bold;
    z-index: 2;

    @media (min-width: $medium-breakpoint) {
      font-size: 30px;
      line-height: 33px;
      padding-right: 190px;
      bottom: 30px;
      color: #fff;
    }

    @media (min-width: $footer-medium-breakpoint) {
      padding: 0 30px;
    }

    @media (min-width: $large-breakpoint) {
      padding: 0 35px;
      font-size: 36px;
      line-height: 39px;
    }
  }

  &__description {
    font-family: $ptserif;
    font-size: 1rem;
    line-height: 24px;
    color: #485155;
    margin-top: 1rem;

    @media (min-width: $medium-breakpoint) {
      line-height: 34px;
    }

    @media (min-width: $large-breakpoint) {
      line-height: 36px;
    }
  }

  &__link {
    margin-top: 1.5rem;
  }

  &__caption {
    font-family: $ptsans;
    font-size: 1rem;
    color: $scarlet;
    font-weight: bold;
  }

  &--help {
    background: $colder;
    border-top: none;

    @media (min-width: $medium-breakpoint) {
      display: none;
    }

    .article__content::before {
      display: none;
    }

    & + .article .article__content::before {
      display: none;

      @media (min-width: $medium-breakpoint) {
        display: block;
      }
    }
  }
}
