.other-blog {
  background: #f0f1f2;
  padding-bottom: 22px;

  @media (min-width: $medium-breakpoint) {
    padding-bottom: 30px;
  }

  @media (min-width: $large-breakpoint) {
    padding-bottom: 48px;
  }

  &__inner {
    @mixin container;

    padding-top: 24px;

    @media (min-width: $medium-breakpoint) {
      padding-top: 30px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 48px;
    }
  }

  &__title {
    font-family: $ptsans-caption;
    font-weight: bold;
    font-size: 1rem;
    line-height: 28px;
    color: #5d5d5d;

    &--margin {
      margin-top: 24px;

      @media (min-width: $medium-breakpoint) {
        margin-top: 41px;
      }

      @media (min-width: $large-breakpoint) {
        margin-top: 48px;
      }
    }
  }

  &__carousel {
    margin-top: 8px;

    .carousel__container::before,
    .carousel__container::after {
      top: 0;
    }

    @media (min-width: $medium-breakpoint) {
      margin-top: 28px;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 36px;
    }

    .carousel__scroll-button-wrap {
      top: 50%;
    }
  }
}
