.hero {
  height: 460px;
  position: relative;
  background: url(hands.jpg) center;
  background-size: cover;

  @media (min-width: $medium-breakpoint) {
    height: 560px;
  }

  @media (min-width: $large-breakpoint) {
    height: 670px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
  }

  &__inner {
    @mixin container;

    position: absolute;
    bottom: 48px;

    @media (min-width: $medium-breakpoint) {
      bottom: 60px;
    }

    @media (min-width: $large-breakpoint) {
      bottom: 72px;
    }
  }

  &__name {
    font-family: $ptsans;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 1rem;
  }

  &__data {
    position: absolute;
    right: 1rem;
    top: -3px;
    font-family: $ptsans;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.65px;
    color: #969ba0;
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 5px 8px;
    z-index: 1;

    @media (min-width: $medium-breakpoint) {
      position: relative;
      top: 0;
      right: 0;
      font-size: 16px;
      letter-spacing: 0.8px;
      padding: 6px 13px;
      margin-top: 40px;
      float: left;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 19px;
      padding: 7px 16px;
      letter-spacing: 0.95px;
      margin-top: 47px;
    }
  }

  &__caption {
    margin-top: 1rem;
    font-family: $ptsans-caption;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;

    @media (min-width: $medium-breakpoint) {
      font-size: 45px;
      line-height: 49.5px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 54px;
      line-height: 59.5px;
    }
  }

  &__description {
    font-family: $ptserif;
    position: relative;
    z-index: 1;
    color: $colder;
    margin-top: 12px;
    font-size: 13px;
    line-height: 17px;
    hyphens: auto;

    @media (min-width: $medium-breakpoint) {
      font-size: 20px;
      line-height: 34px;
      margin-top: 20px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 24px;
      line-height: 36px;
      margin-top: 23px;
    }

    &--center {
      text-align: center;

      @media (min-width: $medium-breakpoint) {
        padding: 0 9%;
      }

      @media (min-width: $large-breakpoint) {
        padding: 0 16%;
      }
    }
  }

  &__link {
    position: relative;
    z-index: 2;
    margin-top: 24px;

    &:hover {
      color: $scarlet;
    }

    @media (min-width: $medium-breakpoint) {
      margin-top: 40px;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 48px;
    }
  }

  &__logo {
    height: 132px;
    width: 138px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: block;

    @media (min-width: $medium-breakpoint) {
      height: 142px;
      width: 154px;
    }

    @media (min-width: $large-breakpoint) {
      height: 243px;
      width: 265px;
    }
  }
}
