.section-heading {
  font-family: $ptsans-caption;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.15;
  color: $midnight;
  hyphens: auto;
  
  @media (min-width: $medium-breakpoint) {
    line-height: 1.18;
  }
  
  &--white {
    color: #fff;
  }
  
}