.main-logo {
  height: 30px;
  width: 50px;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);    
  }
  
  @media (min-width: $large-breakpoint) {
    height: 36px;
    width: 60px;
  }
  
  &--bigger {
    
    @media (min-width: $medium-breakpoint) {
      height: 40px;
      width: 67px;
    }
    
  }
  
  &__img {
    height: 100%;
    width: 100%;
  }
  
}