.dropdown {
  border-radius: 19px;
  font-family: $ptsans;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: 0.1em;
  width: 188px;
  height: 40px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  cursor: pointer;
  transition: height .2s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $large-breakpoint) {
    border-radius: 24px;
    width: 224px;
    height: 48px;
  }

  &--open {
    height: 80px;

    @media (min-width: $large-breakpoint) {
      height: 96px;
    }

    .dropdown__item {
      visibility: visible;
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-top: 6px solid $midnight;
    top: 18px;
    right: 25px;
    transition: border-top .2s ease;

    @media (min-width: $large-breakpoint) {
      right: 30px;
      top: 21px;
    }
  }

  &:hover::after {
    border-top: 6px solid $scarlet;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    height: 16px;
    padding: 12px 45px 14px 25px;
    text-transform: uppercase;
    color: #485155;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease, opacity .2s ease, color .2s ease;

    @media (min-width: $large-breakpoint) {
      height: 20px;
      padding: 15px 55px 14px 30px;
    }

    &:hover {
      color: $scarlet;
    }

    &--selected {
      visibility: visible;
      opacity: 1;
      order: -1;
    }
  }
}
