.share {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  @media (min-width: $medium-breakpoint) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $footer-medium-breakpoint) {
    padding-right: 25%;
  }

  @media (min-width: $large-breakpoint) {
    padding-bottom: 48px;
  }

  .social-likes__widget {
    width: 85px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;

    &::before {
      content: '';
      position: absolute;
      display: block !important;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 100px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
      transition: all .3s ease;
      transform: scale(1);
    }

    &:hover {

      &::before {
        transform: scale(1.05, 1.2);
      }
    }

    @media (min-width: $medium-breakpoint) {
      width: 210px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;
      height: 38px;
    }

    @media (min-width: $large-breakpoint) {
      width: 260px;
      height: 46px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .share__icon {
      display: block;

      @media (min-width: $medium-breakpoint) {
        margin-right: 18px;
      }

      svg {
        height: 100%;
        width: 100%;
      }

      svg .cls-2 {
        fill: #fff;
      }
    }

    &_vkontakte {

      &::before {
        background: #426b9a;
      }

      .share__icon {
        height: 20px;
        width: 22px;
      }
    }

    &_facebook {

      &::before {
        background: #4c68b3;
      }

      .share__icon {
        height: 20px;
        width: 11px;
      }
    }

    &_twitter {

      &::before {
        background: #00abed;
      }

      .share__icon {
        height: 22px;
        width: 20px;
      }
    }
  }

  .social-likes__icon {
    display: none !important;
  }

  .social-likes__button {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: center;

    @media (min-width: $medium-breakpoint) {
      justify-content: flex-start;
    }
  }

  &__text {
    display: none;

    @media (min-width: $medium-breakpoint) {
      display: block;
      font-family: $ptsans;
      font-size: 16px;
      line-height: 20px;
      color: #f0f1f2;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 19px;
      line-height: 20px;
    }
  }

  .social-likes__counter {
    display: none;
    border-left: none;

    @media (min-width: $medium-breakpoint) {
      display: block;
      font-family: $ptsans;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, .7);
    }

    @media (min-width: $large-breakpoint) {
      font-size: 19px;
    }
  }
}
