.blog-card {
  background: url(typewriter-landscape.jpg);
  background-size: 150%;
  background-position: 70%;
  
  @media (min-width: 600px) {
    background-size: 120%;
    background-position: 120%;
  }
  
  @media (min-width: $medium-breakpoint) {
    width: 50%;
    background: url(typewriter.jpg);
    background-position: 414px 464px;
    background-size: 530px;
  }
  
  @media (min-width: 820px) {
    background-position: 79% 90%;
  }
  
  @media (min-width: 1060px) {
    background-position: 79% 85%;
    background-size: 640px;
  }
  
  @media (min-width: $large-breakpoint) {
    background: url(typewriter-landscape.jpg);
    background-size: 1020px;
    background-position: 790px 370px;
  }
  
  @media (min-width: 1580px) {
    background-size: 1070px;
    background-position: 830px 370px;
  }
  
  &__inner {
    @mixin container;
    padding-top: 39px;
    padding-bottom: 39px;
    
    @media (min-width: 480px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    @media (min-width: $medium-breakpoint) {
      padding-top: 250px;
      padding-bottom: 51px;
      max-width: 512px;
      margin-left: auto;
      margin-right: 0;
    }
    
    @media (min-width: $large-breakpoint) {
      padding-top: 75px;
      padding-bottom: 49px;
      padding-right: 37px;
      max-width: none;
    }
    
  }
  
  &__text {
    font-family: $ptserif;
    font-size: 13px;
    line-height: 19px;
    color: #485155;
    letter-spacing: 0.01em;
    
    @media (min-width: $medium-breakpoint) {
      font-size: 20px;
      line-height: 30px;
      max-width: 284px;
    }
    
    @media (min-width: $large-breakpoint) {
      font-size: 24px;
      line-height: 36px;
      padding-left: 176px;
      max-width: 500px;
    }
    
  }
  
  &__link {
    margin-top: 1rem;
    
    @media (min-width: $medium-breakpoint) {
      margin-top: 1.5rem;
    }
    
    @media (min-width: $large-breakpoint) {
      padding-left: 176px;
      margin-top: 1.3rem;
    }
    
  }
  
}