.carousel {
  overflow: hidden;

  &__tabs-container {
    position: relative;
    left: 10px;

    @media (min-width: $medium-breakpoint) {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      height: 53px;
      width: 40px;
      /* stylelint-disable */
      background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      /* stylelint-enable */
      left: -10px;
      top: -17px;
      z-index: 1;

      @media (min-width: 430px) {
        display: none;
      }
    }

    @media (min-width: 430px) {
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      height: 53px;
      width: 40px;
      /* stylelint-disable */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      /* stylelint-enable */
      right: 10px;
      top: -17px;
      z-index: 1;

      @media (min-width: 430px) {
        display: none;
      }
    }

    &--start {

      &::before {
        display: none;
      }
    }

    &--end {

      &::after {
        display: none;
      }
    }
  }

  &__tabs {
    @mixin container;

    display: flex;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: transform .3s ease;
    justify-content: center;
    width: 426px;
    flex-grow: 1;
    flex-shrink: 0;
    left: 50%;
    margin: 0;

    @media (min-width: $medium-breakpoint) {
      width: auto;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      left: 0;
    }
  }

  &__tab {
    font-family: $ptsans;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #6b7277;
    padding-right: 2rem;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s ease;

    @media (min-width: $large-breakpoint) {
      padding-right: 3rem;

      &:hover {
        color: $scarlet;
      }
    }

    &:last-of-type {
      padding-right: 0;
      position: relative;

      &::before {
        content: '';
        border-bottom: 2px solid $scarlet;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -9px;
        border-radius: 1px;
        transition: left .5s ease;
      }
    }

    &:nth-of-type(2).carousel__tab--active ~ &:last-of-type::before {
      width: 126px;
      left: -159px;

      @media (min-width: $medium-breakpoint) {
        width: 158px;
        left: -199px;
      }

      @media (min-width: $large-breakpoint) {
        width: 190px;
        left: -263px;
      }
    }

    &:first-of-type.carousel__tab--active ~ &:last-of-type::before {
      width: 80px;
      left: -271px;

      @media (min-width: $medium-breakpoint) {
        width: 100px;
        left: -339px;
      }

      @media (min-width: $large-breakpoint) {
        width: 120px;
        left: -455px;
      }
    }

    &--active {
      color: $midnight;
      position: relative;
      z-index: 2;
    }
  }

  &__inner {
    height: 405px;
    position: relative;

    @media (min-width: 480px) {
      height: 564px;
    }

    @media (min-width: $medium-breakpoint) {
      height: 420px;
    }

    @media (min-width: $large-breakpoint) {
      height: 425px;
    }
  }

  &__container {
    height: 100%;
    max-width: 600px;
    position: absolute;
    width: 100%;

    @media (min-width: 616px) {
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
    }

    @media (min-width: $medium-breakpoint) {
      max-width: none;
      -webkit-user-select: initial !important;
      -webkit-user-drag: initial !important;
      touch-action: initial !important;
    }

    @media (min-width: $large-breakpoint) {
      max-width: 1440px;
    }

    &::before {
      @media (min-width: $medium-breakpoint) {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        height: 361px;
        width: 145px;
        /* stylelint-disable */
        background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        /* stylelint-enable */
        z-index: 2;
        opacity: 0.8;
        transition: all .2s ease;
      }

      @media (min-width: $large-breakpoint) {
        display: none;
      }
    }

    &::after {
      @media (min-width: $medium-breakpoint) {
        content: '';
        position: absolute;
        top: 40px;
        right: 0;
        height: 361px;
        width: 145px;
        /* stylelint-disable */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        /* stylelint-enable */
        z-index: 2;
        opacity: 0.8;
        transition: all .2s ease;
      }

      @media (min-width: $large-breakpoint) {
        display: none;
      }
    }

    &--start {

      &::before {
        opacity: 0;
        z-index: -1;
      }

      .carousel__scroll-button--left {
        opacity: 0;
        z-index: -1;
      }
    }

    &--end {

      &::after {
        opacity: 0;
        z-index: -1;
      }

      .carousel__scroll-button--right {
        opacity: 0;
        z-index: -1;
      }
    }

    &.animate {

      .carousel__content {
        transition: all .6s;

        @media (min-width: $medium-breakpoint) {
          transition: all 1s ease;
        }
      }
    }
  }

  &__column {
    display: none;

    &:first-of-type,
    &:nth-of-type(2) {
      display: block;
    }

    @media (min-width: $medium-breakpoint) {
      display: block;

      &:last-of-type {
        padding-right: 2.5rem;
        box-sizing: content-box;
      }
    }

    @media (min-width: $large-breakpoint) {

      &:last-of-type {
        padding-right: 0.5rem;
        box-sizing: border-box;
      }
    }
  }

  &__content {
    @mixin container;

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 1rem;
    max-width: 616px;

    &--blog {
      padding-top: 0 !important;
    }

    @media (min-width: $medium-breakpoint) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-y: hidden;
      max-width: none;
      opacity: 0;
      z-index: -1;
      padding-top: 2rem;

      &--active {
        opacity: 1;
        z-index: 1;
      }
    }

    @media (min-width: $large-breakpoint) {
      max-width: 1584px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 3rem;
      margin-left: 3rem;
      width: calc(100% - 6rem);
      padding-top: 45px;
    }
  }

  &__content::-webkit-scrollbar { width: 0; }

  &__content { -ms-overflow-style: none; }

  &__content { overflow: -moz-scrollbars-none; }

  &__project {
    margin-top: 1rem;

    @media (min-width: $medium-breakpoint) {
      margin-top: 0;
    }
  }

  &__event {
    margin-top: 1rem;

    @media (min-width: $medium-breakpoint) {
      margin-top: 0;
    }
  }

  &__link {
    margin-top: 1.5rem;

    @media (min-width: $medium-breakpoint) {
      display: none !important;
    }
  }

  &__scroll-button-wrap {
    @media (min-width: $medium-breakpoint) {
      position: absolute;
      top: 54%;
      right: 15px;
      transform: translateY(-50%) !important;
      z-index: 3;
      width: 55px;
      height: 55px;
      justify-content: center;
      align-items: center;
      display: flex;

      @media (min-width: $large-breakpoint) {
        right: 60px;
      }

      &--left {
        left: 15px;

        @media (min-width: $large-breakpoint) {
          left: 60px;
        }
      }
    }
  }

  &__scroll-button {
    @media (min-width: $medium-breakpoint) {
      display: inline-block;
      background-color: $scarlet;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      height: 40px;
      width: 40px;
      background-image: url(chevron-white.svg);
      background-size: 10px 18px;
      background-repeat: no-repeat;
      background-position: center;
      border: 0 solid $scarlet;
      opacity: 1;
      z-index: 3;
      transition: all .2s ease;
      cursor: pointer;

      &:hover {
        border: 5px solid $scarlet;
      }
    }

    @media (min-width: $large-breakpoint) {
      height: 45px;
      width: 45px;
    }

    &--left {
      transform: rotate(180deg) !important;
    }
  }
}

.carousel--popups {
  padding-top: 55px;

  @media (min-width: $medium-breakpoint) {
    padding-top: 101px;
  }

  @media (min-width: $large-breakpoint) {
    padding-top: 0;
  }

  .carousel__tabs-container {
    left: -5px;

    @media (min-width: $large-breakpoint) {
      position: absolute;
      top: 74px;
      left: 0;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .carousel__tabs {
    transition: transform .6s ease;
    width: 588px;

    @media (min-width: $medium-breakpoint) {
      width: auto;
    }

    @media (min-width: $large-breakpoint) {
      padding: 0;
      padding-left: 94px;
      justify-content: flex-start;
    }
  }

  .carousel__tab {
    color: rgba(0, 0, 0, .5);
    font-size: 1.5rem;
    line-height: 1.5rem;

    &--active {
      color: #fff;
    }

    @media (min-width: $medium-breakpoint) {
      padding-right: 0;
      width: 50%;
      box-sizing: border-box;
      padding-left: 15px;

      &:first-of-type {
        padding-left: 71px;
      }

      &:last-of-type {
        display: none;
      }
    }

    @media (min-width: $large-breakpoint) {
      padding-left: 0;

      &:first-of-type {
        display: none;
      }
    }

    &--active {
      @media (min-width: $large-breakpoint) {
        color: rgba(0, 0, 0, .5);
      }
    }
  }

  .carousel__tab:last-of-type::before {
    border-bottom-color: #fff;
    bottom: -13px;
  }

  .carousel__tab:nth-of-type(2).carousel__tab--active ~ .carousel__tab:last-of-type::before {
    width: 204px;
    left: -236px;
  }

  .carousel__tab:first-of-type.carousel__tab--active ~ .carousel__tab:last-of-type::before {
    width: 151px;
    left: -420px;
  }

  @media (min-width: $medium-breakpoint) {

    .carousel__tab:nth-of-type(2) {
      position: relative;
      padding-right: 0;

      &::before {
        content: '';
        border-bottom: 2px solid #fff;
        width: 252px;
        position: absolute;
        left: 15px;
        bottom: -17px;
        border-radius: 1px;
        transition: left .5s ease;
      }
    }

    .carousel__tab:first-of-type.carousel__tab--active ~ .carousel__tab:nth-of-type(2)::before {
      width: 190px;
      left: calc(-100% + 71px);
    }
  }

  @media (min-width: $large-breakpoint) {

    .carousel__tab:nth-of-type(2)::before {
      display: none;
    }
  }

  .carousel__content {
    padding-top: 44px;
    height: auto;
    -webkit-overflow-scrolling: none;

    @media (min-width: $medium-breakpoint) {
      padding-top: 96px;
    }

    @media (min-width: $large-breakpoint) {
      margin: 0 84px;
      padding-top: 64px;
    }

    &:first-of-type {
      @media (min-width: $large-breakpoint) {
        display: none;
      }
    }
  }

  .carousel__container {

    &::before,
    &::after {
      display: none;
    }

    @media (min-width: $medium-breakpoint) {
      max-width: 1024px;
    }
  }

  .carousel__container.animate .carousel__content {
    transition: all .8s ease;
  }
}

.carousel--docs {
  position: relative;
  top: -45px;

  @media (min-width: $medium-breakpoint) {
    top: -60px;
  }

  @media (min-width: $large-breakpoint) {
    top: -78px;
  }

  .carousel__content {
    padding-top: 8px;
    height: auto;
    -webkit-overflow-scrolling: none;

    @media (min-width: $medium-breakpoint) {
      padding-top: 15px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 48px;
    }
  }

  .carousel__tabs-container {
    left: 0;

    @media (min-width: $medium-breakpoint) {
      max-width: 1024px;
    }

    @media (min-width: $large-breakpoint) {
      max-width: 1440px;
    }
  }

  .carousel__tabs-container::before,
  .carousel__tabs-container::after {
    display: none;
  }

  .carousel__tabs {
    width: auto;
    max-width: none;
    justify-content: flex-start;
    left: 0;
    overflow-x: auto;
    transform: translateX(0) !important;
    height: 40px;

    @media (min-width: 600px) {
      padding-left: calc(((100vw - 600px) / 2) + 1rem);
    }

    @media (min-width: $medium-breakpoint) {
      padding-left: 2.5rem;
      height: 47px;
    }

    @media (min-width: 1024px) {
      padding-left: calc(((100vw - 1024px) / 2) + 2.5rem);
    }

    @media (min-width: $large-breakpoint) {
      padding-left: 3.5rem;
    }

    @media (min-width: 1440px) {
      padding-left: calc(((100vw - 1440px) / 2) + 3.5rem);
    }
  }

  .carousel__tabs::-webkit-scrollbar {
    width: 0;
  }

  .carousel__tabs {
    -ms-overflow-style: none;
  }

  .carousel__tab {
    color: #fff;

    &:hover {
      color: $scarlet;
    }
  }

  .carousel__tab:last-of-type::before {
    display: none;
  }

  .carousel__tab:last-of-type {
    padding-right: 1rem;
  }

  .carousel__tab-dividier {
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid $scarlet;
    border-radius: 1px;
    transition: all .3s ease;
  }

  .row {
    padding-bottom: 3px;
  }
}

.mobile .carousel--docs .carousel__tab-dividier {
  bottom: 15px;
}

.carousel--about {

  .carousel__tabs {
    width: 320px;

    @media (min-width: $medium-breakpoint) {
      width: auto;
    }
  }

  .carousel__tabs-container {
    left: 0;
  }

  .carousel__tabs-container::before,
  .carousel__tabs-container::after {
    display: none;
  }

  .carousel__tabs {

    .medium {
      display: none;

      @media (min-width: $medium-breakpoint) {
        display: inline-block;
      }
    }

    .small {
      @media (min-width: $medium-breakpoint) {
        display: none;
      }
    }
  }

  .carousel__tab:first-of-type.carousel__tab--active ~ .carousel__tab:last-of-type::before {
    width: 126px;
    left: -159px;

    @media (min-width: $medium-breakpoint) {
      width: 263px;
      left: -301px;
    }

    @media (min-width: $large-breakpoint) {
      width: 313px;
      left: -384px;
    }
  }
}
