.blog {

  &__inner {
    @mixin container;

    padding-top: 32px;

    @media (min-width: $medium-breakpoint) {
      padding-top: 40px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 48px;
    }
  }

  &__text {
    margin-top: 1rem;
  }

  &__footer {
    height: 62px;
    display: flex;
    align-items: center;
    background: $colder;

    @media (min-width: $medium-breakpoint) {
      height: 77px;
      justify-content: center;
    }

    @media (min-width: $large-breakpoint) {
      height: 97px;
    }
  }

  &__article-inner {
    @media (min-width: $footer-medium-breakpoint) {
      @mixin container;
    }
  }

  &__footer-link-medium {
    display: none;

    @media (min-width: $medium-breakpoint) {
      display: block;
      font-size: 0.8rem;
      color: #969ba0;
    }

    &::after {
      @media (min-width: $medium-breakpoint) {
        height: 16px;
        width: 9px;
        top: 2px;
        right: -15px;
      }

      @media (min-width: $large-breakpoint) {
        height: 19px;
        width: 11px;
        right: -22px;
      }
    }
  }

  &__footer-link-little {
    @media (min-width: $medium-breakpoint) {
      display: none;
    }
  }
}
