.contacts {
  
  &__item {
    margin-bottom: 31px;
    
    @media (min-width: $medium-breakpoint) {
      margin-bottom: 4px;
    }
    
    &--divider {
      padding-top: 32px;
      position: relative;
      
      &:before {
        content: '';
        position: relative;
        display: block;
        top: -32px;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: rgba(0, 0, 0, .15);
      }
      
      @media (min-width: $medium-breakpoint) {
        
        &:before {
          display: none;
        }
        
      }
      
    }
    
  }
  
  &__title {
    font-family: $ptsans;
    font-weight: bold;
    font-size: 1rem;
    line-height : 1rem;
    color: $colder;
  }
  
  &__name {
    font-family: $ptsans;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 19px;
    display: block;
    line-height : 28px;
    
    @media (min-width: $medium-breakpoint) {
      font-size: 1.2rem;
      margin-top: 16px;
    }
    
  }
  
  &__description {
    font-family: $ptsans;
    font-size: .81rem;
    line-height: 17px;
    color: $colder;
    margin-top: 10px;
    
    @media (min-width: $medium-breakpoint) {
      line-height: 20px;
      margin-top: 13px;
    }
    
  }
  
  &--hide-for-small {
    display: none;
    
    @media (min-width: $medium-breakpoint) {
      display: block;
    }
    
  }
  
}