.detiled-menu {  
  
  @media (min-width: $medium-breakpoint) {
    padding-left: 20px;
  }
  
  @media (min-width: $large-breakpoint) {
    padding-left: 63px;
    padding-right: 0;
  }
  
  &__list {
    display: none;
    
    @media (min-width: $medium-breakpoint) {
      display: block;
    }
    
    @media (min-width: $large-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
  }
  
  &__item {
    
    @media (min-width: $medium-breakpoint) {
      margin-bottom: 29px;
    }
    
    @media (min-width: $large-breakpoint) {
      margin-bottom: 58px;
      flex-basis: 210px;
      
      &:first-of-type {
        display: none;
      }
      
      &:nth-of-type(2) {
        order: 1;
      }
      
      &:nth-of-type(3) {
        order: 2;
      }
      
      &:nth-of-type(4) {
        order: 4;        
      }
      
      &:nth-of-type(5) {
        order: 3;
        flex-basis: 140px;
      }
      
      &:nth-of-type(6) {
        order: 5;
      }
      
      &:nth-of-type(7) {
        order: 6;
        flex-basis: 140px;
      }
      
      &:nth-of-type(n + 5) {
        margin-bottom: 0;
      }
      
    }
    
  }
  
  &__link {
    
    @media (min-width: $medium-breakpoint) {
      font-family: $ptsans;
      font-weight: bold;
      font-size: 1rem;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $colder;
      transition: color .2s ease;
    
      &--active {
        color: $scarlet;
      }
    
      &:hover {
        color: $scarlet;
      }
    }
    
    @media (min-width: $large-breakpoint) {
      font-size: 19px;
      line-height: 19px;
    }
    
  }
  
  &__sublist {
    display: none;
    
    @media (min-width: $large-breakpoint) {
      display: block;
      margin-top: 16px;
    }
    
  }
  
  &__subitem {
    margin-bottom: 8px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  &__sublink {
    font-family: $ptsans;
    font-size: 0.8rem;
    line-height: 1;
    color: #969BA0;
  }
  
  &__toggler {
    padding-top: 8px;
    float: right;
    display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    
    @media (min-width: $medium-breakpoint) {
      display: none;
    }
    
  }
  
  &__toggler-text {
    font-family: $ptsans; 
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 1.6px;
    
    &:hover {
      color: $scarlet;
    }
    
    @media (min-width: $medium-breakpoint) {
      font-size: 0.8rem;
    }
    
  }
  
  &__toggler-icon {
    background-color: $scarlet;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $scarlet;
      border-radius: 2px;
      top: 7px;
    }
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $scarlet;
      border-radius: 2px;
      top: -7px;
    }
    
  }
  
}