/*----Breakpoints-------*/

$medium-breakpoint: 768px;
$large-breakpoint: 1280px;

/*----Grid--------------*/

$small-grid-padding: .5rem;
$medium-grid-padding: 2rem;
$large-grid-padding: 3rem;
$grid-gutter: .5rem;

