.sponsors {
  background: $colder;

  &__inner {
    @mixin container;

    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: $medium-breakpoint) {
      background: $colder url(nd-pattern.svg);
      background-size: 2560px 1821px;
      padding-top: 40px;
      padding-bottom: 34px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 48px;
      padding-bottom: 37px;
    }
  }

  &__text {
    margin-top: 1rem;
  }

  &__item {
    height: 68px;
    padding: 12px 10px;
    margin-top: 1rem;
    box-sizing: border-box;

    @media (min-width: $medium-breakpoint) {
      height: 121px;
      padding: 20px;
    }

    @media (min-width: $large-breakpoint) {
      height: 130px;
      padding: 24px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
