.docs-item {
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  padding: 17px 20px;
  display: flex;

  @media (min-width: $medium-breakpoint) {
    margin-top: 20px;
    height: 241px;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: column;
  }

  @media (min-width: $large-breakpoint) {
    margin-top: 24px;
    height: 280px;
    padding: 37px;
    position: relative;
  }

  &__icon {
    height: 48px;
    width: 38px;
    margin-right: 16px;
    flex-shrink: 0;

    &--ai {
      background: url(ai.svg);
      background-size: cover;
    }

    &--docx {
      background: url(docx.svg);
      background-size: cover;
    }

    &--eps {
      background: url(eps.svg);
      background-size: cover;
    }

    &--gif {
      background: url(gif.svg);
      background-size: cover;
    }

    &--indd {
      background: url(indd.svg);
      background-size: cover;
    }

    &--jpg {
      background: url(jpg.svg);
      background-size: cover;
    }

    &--msg {
      background: url(msg.svg);
      background-size: cover;
    }

    &--pdf {
      background: url(pdf.svg);
      background-size: cover;
    }

    &--png {
      background: url(png.svg);
      background-size: cover;
    }

    &--pptx {
      background: url(pptx.svg);
      background-size: cover;
    }

    &--ps {
      background: url(ps.svg);
      background-size: cover;
    }

    &--rtf {
      background: url(rtf.svg);
      background-size: cover;
    }

    &--svg {
      background: url(svg.svg);
      background-size: cover;
    }

    &--txt {
      background: url(txt.svg);
      background-size: cover;
    }

    &--xlsx {
      background: url(xlsx.svg);
      background-size: cover;
    }
  }

  &__title {
    font-family: $ptsans;
    font-weight: bold;
    font-size: 1rem;
    line-height: 18px;
    color: #041b26;
    padding-right: 30px;
    hyphens: auto;

    @media (min-width: $medium-breakpoint) {
      margin-top: 20px;
      line-height: 24px;
      padding-right: 0;
    }

    @media (min-width: $large-breakpoint) {
      margin-top: 24px;
      line-height: 29px;
    }
  }

  &__labels {
    display: flex;

    @media (min-width: $large-breakpoint) {
      bottom: 37px;
      position: absolute;
    }
  }

  &__label {
    font-family: $ptsans;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.65px;
    color: #6b7277;
    background: $colder;
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 12px;

    @media (min-width: $medium-breakpoint) {
      font-size: 16px;
      letter-spacing: 0.8px;
      padding: 6px 13px;
      margin-top: 15px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 19px;
      padding: 7px 16px;
      letter-spacing: 0.95px;
    }

    &:first-of-type {
      margin-right: 15px;

      @media (min-width: $medium-breakpoint) {
        margin-right: 20px;
      }
    }
  }
}
