.partner-section {

  &__inner {
    @mixin container;

    padding-top: 32px;

    @media (min-width: $medium-breakpoint) {
      padding-top: 43px;
      padding-bottom: 40px;
      background: #fff url(nd-pattern.svg);
      background-size: 2560px 1821px;
    }

    @media (min-width: $large-breakpoint) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }

  &__text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    @media (min-width: $medium-breakpoint) {
      margin-bottom: 11px;
    }
  }
}
