.section-text {
  font-family: $ptserif;
  font-size: 1rem !important;
  line-height: 1.5rem;
  color: #485155;
  
  @media (min-width: $medium-breakpoint) {
    line-height: 34px;
  }
  
  @media (min-width: $large-breakpoint) {
    line-height: 41px;
  }
  
}